article.full-article {
	font-weight: 300;
	line-height: 1.8;
	font-size: 18px;
	color: #000;
	h1 {
		font-weight: 400;
		margin-left: -5px;
		margin-top: 1em;
	}
	p.author {
		padding-bottom: 2em;
	}
}