#main-header {
	color: #fff;
	padding-top: 43px;
	padding-bottom: 43px;
	background: {
		image: url('../img/bgImage.png');
		position: center center;
		size: cover;
		attachment: fixed;
	}
	@include respond-to(phone) {
		padding-left: 0;
		padding-right: 0;
		font-size: 14px;
	}
	.category {
		@include category(#fff, #fff);
	}

	article {
		font-weight: 300;
		padding-bottom: 20px;
		margin-bottom: 20px;
		border-bottom: 1px solid rgba(255,255,255,.3);

		a {
			color: #fff;
		}

		h4 {
			margin-bottom: 35px;
			@include respond-to(phone) {
				font-size: 18px;
			}

		}
		.tag {
			text-align: left;
			font-weight: 300;
			margin-bottom: 0;
			padding-left: 0;
		}
		.footer {
			font-size: 12px;
			line-height: 15px;
			position: absolute;
			bottom: 0px;
			// padding-top: 30px;
			width: 100%;
			height: 15px;
			@include respond-to(phone) {
				position: static;
			}
		}
		.preview {
			@include respond-to(phone) {
				display: none;
			}
		}

	}

}