@mixin category($textcolor, $bgcolor) {
	width: 100%;
	display: inline-block;
	text-align: center;
	padding-bottom: 43px;
	font-weight: 300;
	color: $textcolor;
	.row {
		overflow: auto;
		white-space: nowrap;
	}
	a.nav-link {
		color: $textcolor;
		border: 2px solid $bgcolor;
		border-radius: 30px;
		padding: $category-paddings;
		&:hover,
		&:focus,
		&.active,
		&.active:hover,
		&.active:focus,{
			background-color: $bgcolor;
			color: #000;
		}
		& + .nav-link {
			margin-left: 10px;
		}
	}
	span {
		padding: $category-paddings;
		// float: left;
	}
}

@mixin respond-to($media) {
	@if $media == phone {
		@media only screen and (max-width: $small) { @content; }
	}

	@else if $media == medium {
		@media only screen and (min-width: $small + 1) and (max-width: $wide - 1) { @content; }
	}

	@else if $media == wide {
		@media only screen and (min-width: $wide) { @content; }
	}
}