#main-nav {
	height: $nav-height;
	padding: 12px 35px;
	margin: 0px;
	border-bottom: 1px solid #eee;
	background-color: #fff;
	img.logo {
		max-width: 150px;
		height: auto;
	}
	.category {
		@include category(#000, #f1eee7);
		padding-bottom: 0;
	}
}