#main-nav {
	height: $nav-height;
	padding: 12px 35px;
	margin: 0px;
	border-bottom: 1px solid #eee;
	background-color: #fff;
	img.logo {
		max-width: 150px;
		height: auto;
	}
	.category {
		@include category(#000, #f1eee7);
		padding-top: 3px;
		padding-bottom: 0;
	}
	.close {
		// float: right;
		position: absolute;
		top: 12px;
		right: 25px;
		opacity: .7;
		&:hover {
			opacity: 1;
		}
		img {
			height: 40px;
			transition: all .2s ease-in-out;
		}
	}
}