#progressbar {
	height: 66px;
	background-color: #f8f7f4;
	border-top: 2px solid #ccc;
	padding: 10px 20px;
	font-size: 16px;
	line-height: 46px;
	.article-header {
		cursor: default;
		font-weight: 700;
	}
	.circlebar {
		float: right;

		.c100:hover {
			cursor: pointer;
		}
		img {
			max-height: 20px;
		}
		.small {
			font-size: 40px;
		}
		.bar {
			border-color: #1087a0;
		}
	}
	@include respond-to(phone) {
		padding: 10px 15px;
		line-height: 23px;
	}
}