@import 'helpers/variables';
@import 'helpers/placeholders';
@import 'helpers/mixins';
@import 'layout/header';
@import 'layout/navbar';

body {
	font-family: $font-stack;
}

.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

// article {
// 	font-weight: 300;
// 	line-height: 1.8;
// }
