@import 'helpers/variables';
@import 'helpers/placeholders';
@import 'helpers/mixins';
@import 'layout/header';
@import 'layout/article';
@import 'components/navbar';
@import 'components/progressbar';
@import 'components/circle';

body {
	font-family: $font-stack;
	padding-top: $nav-height;
}

.row.is-flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

// article {
// 	font-weight: 300;
// 	line-height: 1.8;
// }
